

.example-container div {
  background: rgb(255, 0, 212);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
}

h1{
    align-items: center;
    display: flex;
    justify-content: center;
}


.center{


    display: flex  ;
    align-items: center;
    justify-content: center;
}
